<div class="container">
  <h1>Update Recipe</h1>
  <div class="formgrid grid">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="field">
        <label for="Name">Name:</label>
        <input
          required
          formControlName="Name"
          id="Name"
          type="text"
          [(ngModel)]="recipe.Name"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>

      <div class="field">
        <label for="Description">Description:</label>
        <textarea
          pInputTextarea
          formControlName="Description"
          rows="5"
          cols="30"
          pInputTextarea
          [(ngModel)]="recipe.Description"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        ></textarea>
      </div>

      <div class="field">
        <label for="Preparation_Time">Preparation Time:</label>
        <input
          formControlName="Preparation_Time"
          id="Preparation_Time"
          type="number"
          [(ngModel)]="recipe.Preparation_Time"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        /><p>Min</p>
      </div>

      <div class="field">
        <label for="Cooking_Time">Cooking Time:</label>
        <input
          formControlName="Cooking_Time"
          id="Cooking_Time"
          type="number"
          [(ngModel)]="recipe.Cooking_Time"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        /><p>Min</p>
      </div>
      <p-button label="Update" type="submit" />
      <p-message
        *ngIf="this.isMessageVisible"
        severity="success"
        text="Recipe updated successfully!"
        styleClass="p-mr-2"
      ></p-message>
    </form>
  </div>
</div>
